# This file is for local tests, NOT for production.

services:
  postgres:
    image: postgres:17
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      PGPORT: ${PGPORT}
      POSTGRES_DB: ${PGDATABASE}
    ports:
      - "${PGPORT}:${PGPORT}"
    # volumes: # Deliberately choose temporary storage.
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 0.5s
      timeout: 0.5s
      retries: 5
